.container {
    text-align: center;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.sideCol {
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    height: auto !important;
}

.bigText {
    font-size: 26rem;
    line-height: 1;
    transform: translateY(5rem);
    font-weight: 700;
    color: var(--color-black);
}

.dottedDiv {
    display: flex;
    align-items: end;
    padding: 8px;
}

.socialLink {
    letter-spacing: 1px;
    &:hover {
        opacity: 0.2;
    }
}
