.container {
    position: relative;
    width: 100%;
    border-bottom: none !important;
    border: 1px solid var(--color-black);
}

.item {
    border-bottom: 1px solid var(--color-black);
    cursor: pointer;

    &:hover {
        .dot {
            display: block;
        }
    }
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    gap: 5px;
}

.dot {
    display: none;
    width: 0.3rem;
    height: 0.3rem;
    margin-bottom: 0.3rem;
    background: var(--color-black);
}

.content {
    width: 85%;
    height: 0;
    overflow: hidden;
    transition: height 0.6s;

    &.active {
        height: fit-content;
        padding: 1.5rem;
    }
}

.iconArrow {
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.iconArrow.active {
    transform: rotate(-180deg);
}
