.rowContainer {
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
}

.colContainer {
    height: 100%;
    width: 100%;
}

@for $i from 1 through 24 {
    .col-#{$i} {
        flex: 0 0 (100% / 24) * $i;
        max-width: (100% / 24) * $i;
    }
}

@media (max-width: calc(var(--screen-sm) - 1px)) {
    @for $i from 1 through 24 {
        .col-xs-#{$i} {
            flex: 0 0 (100% / 24) * $i;
            max-width: (100% / 24) * $i;
        }
    }
}

@media (min-width: var(--screen-sm)) {
    @for $i from 1 through 24 {
        .col-sm-#{$i} {
            flex: 0 0 (100% / 24) * $i;
            max-width: (100% / 24) * $i;
        }
    }
}

@media (min-width: var(--screen-md)) {
    @for $i from 1 through 24 {
        .col-md-#{$i} {
            flex: 0 0 (100% / 24) * $i;
            max-width: (100% / 24) * $i;
        }
    }
}

@media (min-width: var(--screen-lg)) {
    @for $i from 1 through 24 {
        .col-lg-#{$i} {
            flex: 0 0 (100% / 24) * $i;
            max-width: (100% / 24) * $i;
        }
    }
}

@media (min-width: var(--screen-xl)) {
    @for $i from 1 through 24 {
        .col-xl-#{$i} {
            flex: 0 0 (100% / 24) * $i;
            max-width: (100% / 24) * $i;
        }
    }
}

@media (min-width: var(--screen-xxl)) {
    @for $i from 1 through 24 {
        .col-xxl-#{$i} {
            flex: 0 0 (100% / 24) * $i;
            max-width: (100% / 24) * $i;
        }
    }
}
