.oakame-h1 {
    color: var(--color-black);
    font-size: 6rem;
    line-height: 120%;
    text-transform: uppercase;
}

.oakame-h2 {
    color: var(--color-black);
    font-size: 4.5rem;
    line-height: 120%;
    text-transform: uppercase;
}

.oakame-h3 {
    color: var(--color-black);
    font-size: 2.8rem;
    line-height: 120%;
    text-transform: uppercase;
}

.oakame-h4 {
    color: var(--color-black);
    font-size: 2rem;
    line-height: 120%;
    text-transform: uppercase;
}

.oakame-h5 {
    color: var(--color-black);
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: uppercase;
}

.oakame-h6 {
    color: var(--color-black);
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 700;
    text-transform: uppercase;
}

.oakame-body1 {
    color: var(--color-black);
    font-size: 1.2rem;
    line-height: 120%;
    font-weight: 500;
}

.oakame-button {
    color: var(--color-black);
    text-transform: uppercase;
    line-height: 120%;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.oakame-body2 {
    color: var(--color-black);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

.oakame-hero-text {
    color: var(--color-black);
    font-size: 11rem;
    line-height: 120%;
    font-weight: 500 !important;
    text-transform: uppercase;
    margin-left: -0.6rem;
    letter-spacing: -0.05rem;
}

//font weight
.fw-regular {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

@media (max-width: 992px) {
    .oakame-hero-text {
        font-size: 6rem;
        margin-left: -0.3rem;
    }
    .oakame-h1 {
        font-size: 2.5rem;
    }
    .oakame-h2 {
        font-size: 2.3rem;
        line-height: 120%;
    }
}

@media (max-width: 768px) {
    .oakame-hero-text {
        font-size: 4rem;
        margin-left: -0.3rem;
    }
}
