.container {
    padding: var(--padding-container);
    margin-block: 20px;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
}

.furnitureImage {
    position: absolute;
    top: 100%;
    left: 0;
    animation: slideUp 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slideUp {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}

.imageWrapper:nth-child(1) .furnitureImage {
    animation-delay: 0s;
}
.imageWrapper:nth-child(2) .furnitureImage {
    animation-delay: 0.1s;
}
.imageWrapper:nth-child(3) .furnitureImage {
    animation-delay: 0.2s;
}
.imageWrapper:nth-child(4) .furnitureImage {
    animation-delay: 0.3s;
}

.contentMobile {
    display: none;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .content {
        display: none;
    }

    .contentMobile {
        display: block;
    }
}
