.boxContainer {
    width: 150px;
    height: 100%;
    perspective: 1000px;
    overflow: hidden;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-white);

    &:hover {
        background-position: 100% 100%;

        .bottom {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px) rotate3d(1, 0, 0, 0deg);
        }
        .front {
            opacity: 0;
            transform: translate3d(0px, -15px, 0px) rotate3d(1, 0, 0, 90deg);
        }
    }
}

.front {
    opacity: 1;
    transition:
        transform 0.6s var(--ease-out),
        opacity 0.45s var(--ease-out);
    color: var(--color-black);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    color: var(--color-white);
    position: absolute;
    transform: translate3d(0px, 20px, 20px) rotate3d(1, 0, 0, -90deg);
    opacity: 1;
    transition:
        transform 0.6s var(--ease-out),
        opacity 0.45s var(--ease-out);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
}
