.container {
    height: fit-content;
    width: fit-content;
    position: relative;

    &:hover {
        .hover.dotTopLeft,
        .hover.dotTopRight,
        .hover.dotBottomLeft,
        .hover.dotBottomRight {
            background-color: var(--color-white);
        }
    }
}

.dotTopLeft,
.dotTopRight,
.dotBottomLeft,
.dotBottomRight {
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0;
    padding: 0;
    content: "";
    background-color: var(--color-black);
    z-index: 1;
}

.hover {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-duration: 0.3s;
    transition-property: background-color;
}

.dotTopLeft {
    top: 0.8rem;
    left: 0.8rem;
}

.dotTopRight {
    top: 0.8rem;
    right: 0.8rem;
}

.dotBottomLeft {
    bottom: 0.8rem;
    left: 0.8rem;
}

.dotBottomRight {
    bottom: 0.8rem;
    right: 0.8rem;
}
