.container {
    padding: var(--padding-container);
    margin-block: 20px;
}

.header {
    width: 100%;
    text-align: right;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 0.4rem;
        height: 0.4rem;
        bottom: 0.4rem;
        left: calc(50% - 0.2rem);
        z-index: 1;
        background: var(--color-black);
    }
}

.content {
    height: min(100vh, 700px);
    margin-top: 4rem;
}

.contentLeft,
.contentRight {
    width: 50%;
    height: 100%;
}

.customImg {
    width: 100%;
}

@media (max-width: 1024px) {
    .parapraph [class^="typography_"] {
        width: 100%;
        padding-right: 10;
    }
}

@media (max-width: 768px) {
    .customFlex {
        flex-direction: column-reverse !important;
        align-items: start !important;
    }
    .contentLeft,
    .contentRight {
        width: 100%;
        flex: 1;
    }
    .content {
        height: 100%;
        gap: 2rem;
    }
    .header::before {
        left: 0px;
        top: 1.4em;
    }
    .customImg {
        //object-fit: contain !important;
        height: 550px !important;
    }
    .parapraph {
        margin-bottom: 2rem;
    }
}
