.container {
    padding: var(--padding-container);
    margin-block: 20px;
}

.header {
    width: 100%;
    text-align: right;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 0.4rem;
        height: 0.4rem;
        bottom: 0.4rem;
        left: calc(50% - 2px);
        z-index: 1;
        background: var(--color-black);
    }
}

.content {
    height: 100vh;
    margin-top: 4rem;
}

.contentLeft,
.contentRight {
    width: 50%;
    height: 100%;
}

.parapraph {
    margin-bottom: 14rem;
}

.customFlex {
}

.customImg {
    width: 100%;
}

@media (max-width: 1024px) {
    .parapraph {
        margin-bottom: 5rem;
    }
}

@media (max-width: 768px) {
    .customFlex {
        flex-direction: column-reverse !important;
        align-items: start !important;
    }
    .contentLeft,
    .contentRight {
        width: 100%;
        flex: 1;
    }
    .content {
        height: 150vh;
        gap: 4rem;
    }
    .header::before {
        left: 0px;
        top: 1.4em;
    }
    .customImg > img {
        //object-fit: contain !important;
    }
}
