.container {
    width: 100%;
    padding: var(--padding-container);
}

.banner {
    border: 1px solid #403a34;
    width: 100%;
    height: calc(100vh - 2 * var(--padding-container));
    position: relative;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &.active::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        background: #000;
        opacity: 0.3;
        height: 100%;
        width: 100%;
        z-index: 4;
    }

    &.active {
        animation: bannerSlide 0.6s forwards;
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

.bannerFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-inline: var(--padding-container);
    z-index: 8;
}

.thumbnail {
    cursor: pointer;
    border: 1px solid transparent;
    width: 124px;
    height: 74px;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.2;
        height: 100%;
        width: 100%;
    }

    &.active {
        border-color: var(--color-black);
    }

    &.active::before {
        display: block;
        animation: thumbnailSlide 5s forwards;
        animation-delay: 0.6s;
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

@keyframes thumbnailSlide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes bannerSlide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@media (max-width: 1200px) {
    .container {
        margin-bottom: 6rem;
        padding: 0;
    }
    .banner {
        border: 0px;
        max-height: calc(100vw * 20 / 25);
        overflow: visible;
    }
    .bannerFooter {
        top: calc(100% - 100px);
        bottom: auto;
        flex-direction: column-reverse;
        gap: 60px;
        align-items: flex-start;
    }
    .bottomText {
        padding: var(--padding-container);
        margin-top: 6rem;
    }
    .thumbnail {
        margin-bottom: 0;
    }
}
