.container {
    width: 100%;
    padding: var(--padding-container);
    overflow: hidden;
}

.banner {
    border: 1px solid #403a34;
    width: 100%;
    height: calc(100vh - 2 * var(--padding-container));
    position: relative;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #000;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        z-index: 4;
    }

    &.active {
        animation: bannerSlide 1.2s ease-out forwards;
        transform: translateX(100%);

        &::before {
            opacity: 0;
        }
    }

    &.active .bannerImageInner {
        animation: bannerInnerSlide 1.2s ease-out forwards;
    }
}

.bannerImageInner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes bannerSlide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes bannerInnerSlide {
    from {
        transform: translateX(-100%) scale(1.1);
    }
    to {
        transform: translateX(0%) scale(1);
    }
}

.bannerFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-inline: var(--padding-container);
    z-index: 8;
}

.thumbnail {
    cursor: pointer;
    border: 1px solid transparent;
    width: 124px;
    height: 74px;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.2;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    &.active {
        border-color: var(--color-black);
    }

    &.active::before {
        display: block;
        animation: thumbnailSlide 5s linear forwards;
    }
}

@keyframes thumbnailSlide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.animatedText {
    animation: textAnimation 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    transform-style: preserve-3d;
}

@keyframes textAnimation {
    from {
        transform: translateY(100px) rotate3d(1, 0, 0, -90deg);
        opacity: 0;
    }
    to {
        transform: translateY(0) rotate3d(0, 0, 0, 0deg);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .container {
        margin-bottom: 6rem;
        padding: 0;
    }
    .banner {
        border: 0px;
        max-height: calc(100vw * 20 / 25);
        overflow: visible;
    }
    .bannerFooter {
        top: calc(100% - 100px);
        bottom: auto;
        flex-direction: column-reverse;
        gap: 60px;
        align-items: flex-start;
    }
    .bottomText {
        padding: var(--padding-container);
        margin-top: 6rem;
    }
    .thumbnail {
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .container {
        margin-bottom: 2rem;
    }
    .bannerFooter {
        top: calc(100% - 50px);
    }
    .thumbnail {
        width: 54px;
        height: 34px;
    }
    .bannerFooter {
        gap: 40px;
    }
}
