.container {
    width: 100%;
    padding: var(--padding-container);
}

.banner {
    border: 1px solid #403a34;
    width: 100%;
    height: calc(100vh - 2 * var(--padding-container));
    position: relative;
}

.bannerFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}
