.container {
    width: 100%;
    padding: var(--padding-container);
}

.banner {
    border: 1px solid #403a34;
    width: 100%;
    height: calc(100vh - 2 * var(--padding-container));
    position: relative;
}

.bannerFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-inline: var(--padding-container);
}

@media (max-width: 992px) {
    .container {
        margin-bottom: 6rem;
        padding: 0;
    }
    .banner {
        border: 0px;
        max-height: calc(100vw * 20 / 25);
    }
    .bannerFooter {
        top: 100%;
        bottom: auto;
    }
    .bottomText {
        padding: var(--padding-container);
    }
}
